.sidebar {
  display: grid;
  align-content: flex-start;
  gap: 20px;
}

@media screen and (max-width: 765px) {
  .sidebar {
    display: none;
  }

  .logo {
    width: 159px;
    height: 42px;
  }
}