.body {
	background: linear-gradient(107.32deg, #804BD8 5.53%, #544AD8 97.3%);
}

/* .container {
	display: grid;
	gap: 10px;
  height: 500px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 200px;
  margin: 0;
  padding: 0;
	grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  justify-content: left;
  justify-content: center;
  justify-content: right;
  border: 2px solid palegreen;
} */

.container {
  display: grid;
  grid-template-columns: [sidebar] 1fr [body] 1fr [endline] 1fr;
  grid-template-areas: 
    "header header header"
    "sidebar body body"
    "footer footer footer";
  height: 100vh;
}

.header {
  grid-area: header;
}

.body {
  grid-area: body;
}

.sidebar {
  grid-area: sidebar;
}

.footer {
  grid-area: footer;
}

@media (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas: 
      "header"
      "body"
      "sidebar"
      "footer";
  }
}

.container > div {
	font-weight: bold;
	font-size: 20px;
	color: white;
	border: 2px solid #FE7A71;
	display: flex;
	align-items: center;
	justify-content: center;
}
