.header {
  display: none;
  background-color: palegoldenrod;
}

.mobileMenu {
  position: fixed;
	z-index: 10;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	overflow-y: scroll;

	padding: 20px 10px;

	background: var(--body);
}

.menuClose {
	position: fixed;
	z-index: 11;
	top: 15px;
	right: 15px;
}


@media (max-width: 765px) {
  .header {
    display: grid;
    grid-template-columns: 1fr 40px;
    align-items: center;
    gap: 10px;
    padding: 15px;
  }

  .header .sidebar {
    display: block;
  }

  .logo {
    width: 159px;
    height: 42px;
  }
}