:root {
  --font-family: 'Noto Sans KR', sans-serif;
  --initial-black: #000000;
  --body: #f5f6f8;
  --black: #3B434E;
  --gray-light: #EBEBEB;
  --gray-second: #787D85;
  --gray-third: #D2D2D2;
  --white: #ffffff;
  --primary: #7653FC;
  --primary-hover: #6447d6;
  --red-light: #f5a395;
  --red: #FC836D;
  --green: #1DC37E;
  --green-light: #C8F8E4;
}

html,
body {
  max-width: 100vw;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--body);
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.wrapper {
  display: grid;
  grid-template-columns: auto 230px minmax(320px, 1200px) auto;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  gap: 40px 30px;
  grid-template-areas: 
    ". header header ."
    ". sidebar body ."
    "footer footer footer footer";
}

.header {
  grid-area: header;
  display: none;
}

.sidebar {
  grid-area: sidebar;
}

.body {
  grid-area: body;
}

.footer {
  grid-area: footer;
}

@media (max-width: 765px) {
  .wrapper {
    grid-template-columns: minmax(320px, 1fr);
    grid-template-areas: 
      "header"
      "body"
      "footer";
  }

  .header {
    display: block;
  }

  .body {
    padding: 15px;
  }
}
