.sorting {
    display: flex;
    align-items: center;
    gap: 45px;
}

.sorting button {
    display: flex;
    gap: 8px;
    padding: 0;
    font-family: var(--font-family);
    font-size: 16px;
    color: var(--initial-black);
    cursor: pointer;
    border: none;
    /* outline: none; */
    background-color: transparent;
}

.sorting .active {
    font-weight: 700;
    color: var(--primary);
}

.sortName {
	display: none;
}

.iconBox {
    display: flex;
    gap: 8px;
}

.iconWrap {
    display: inline-block;
    width: 20px;
    height: 13px;
}

.iconWrap {
    display: none;
}

.active .iconWrap {
    display: block;
}