.reviewForm {
    display: grid;
    grid-template-columns: [start] auto 1fr auto [end];
    align-items: center;
    gap: 20px 30px;
    font-size: 14px;
    line-height: 24px;
    background-color: tomato;
}

.title {
    justify-self: left;
}

.description,
.submit {
    grid-column: start / end;
}

.submit {
    display: grid;
    grid-template-columns: 148px auto;
    align-items: center;
    gap: 15px;
}

.checking {
    margin: 0;
}

.rating {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}

.success {
    background-color: plum;
}

/* .successTitle {

} */